/data/*
!data/do_not_remove
!data/fonts
!data/sample.db
!data/cache
!data/sessions
/data/cache/*
!data/cache/do_not_remove
/data/sessions/*
!data/sessions/do_not_remove
/vendor/
/public/themes/*
!public/themes/default/*
!public/themes/admin/*
.buildpath
.DS_Store
.project
.settings
local.php
*.local.php
composer.lock
composer.phar
