build/
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
data/captcha/*
!data/captcha/.gitkeep
data/DoctrineORMModule/Proxy
!data/DoctrineORMModule/Proxy/.gitkeep
data/sessions/*
!data/sessions/.gitkeep
composer.phar
.idea
.phpunit.result.cache
/public/css/*
/public/fonts/*
/public/img/*
/public/js/*
/public/userfiles/*
!/public/userfiles/.gitkeep