build/*
data/*
!data/fonts
vendor/
public/userfiles/.quarantine
public/userfiles/.tmb
public/userfiles/.trash/.tmb
!do_not_remove
composer.lock
composer.phar
deployment.properties
.idea
*.local.php
devmodules/.gitignore
/assets/
/public/img/
/public/css/
/public/default/
/public/el-finder/
/public/js/
