language: php

php:
  - 7.0
  - 7.1

before_script:
  - echo ${TRAVIS_PHP_VERSION:0:3}
  - composer install --no-interaction --ignore-platform-reqs --prefer-source --no-scripts
  - cd module/Application/test

script:
  - phpdbg -qrr ../../../vendor/bin/phpunit -v; fi

after_script:
  - cd ../../../
  - php vendor/bin/test-reporter --coverage-report=build/logs/clover.xml

before_install:
  - composer self-update
