language: php

php:
  - 5.5
  - 5.6

before_script:.
  - composer install --no-dev
  - composer require --update-no-dev codeclimate/php-test-reporter
  - cd module/Application/test

script:
  - phpunit

after_script:
  - cd ../../../
  - php vendor/bin/test-reporter --coverage-report=build/logs/clover-Application.xml
