
body {
    padding-top: 60px;
}

div.container a.navbar-brand img,
div.container a.navbar-brand span  {
	vertical-align: middle;
}

div.container a.navbar-brand img {
	margin-right: 10px;
}

.navbar-brand  {
    padding-left: 55px;
    background: url('../img/uthando-cms.png') 20px center no-repeat;
}
